<form action="/event/create" method="POST">
  <label for="name">Event Name: </label>
  <input type="text" id="name" name="event[name]" placeholder="event name here"><br>
    <label for="location">Location: </label>
  <input type="text" id="location" name="event[location]" placeholder="event location here"><br>

    <label for="starts_at">Start time: </label>
  <input type="text" id="starts_at" name="event[starts_at]"><br>
    <label for="ends_at">End time: </label>
  <input type="text" id="ends_at" name="event[ends_at]"><br>

  <input type="submit" value="Create Event">

</form>
